# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

history
*.last
places
*.eld
session*
tramp
*.sqlite


auto_save_list/
backups/
eln-cache/
elpa/
eshell/
url/
.cache/
transient/

